apiVersion: v1
kind: Service
metadata:
  name: tv-bingo
  labels:
    app: tv-bingo
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: tv-bingo
